<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.green.hckh.repository.dao.student.CrsRgstDao">

    <select id="getClasses" resultType="org.green.hckh.dto.student.CrsRgst.ClassDto">

        SELECT
            a.class_no,
            a.spot_no,
            a.class_name,
            a.user_id AS class_user_id,
            a.room_no,
            a.start_date,
            a.end_date,
            a.delete_yn,
            a.max_people,
            SUM(IF(IFNULL(b.graduate_code, 'APPLY') NOT IN('APPLY','H'), 1, 0)) AS now_people, -- 정상적인 집계
            IF(MAX(b.user_id) IN (#{userId}), IFNULL(MAX(b.graduate_code), ''), '') AS graduate_code, -- MAX()로 한 명만 선택
            c.name,
            d.room_name
        FROM tbl_class a
                 LEFT JOIN tbl_user_class b ON a.class_no = b.class_no
                 LEFT JOIN tbl_user c ON a.user_id = c.user_id
                 LEFT JOIN tbl_class_room d ON a.room_no = d.room_no
        WHERE a.delete_yn = 'N'
        GROUP BY a.class_no
        ORDER BY
            CASE
                WHEN NOW() > a.end_date THEN 999
                WHEN NOW() > a.start_date THEN 99
                ELSE a.start_date
            END;



    </select>

    <select id="getClassCnt">
        SELECT COUNT(*)
        FROM tbl_user_class
        WHERE class_no = #{classNo}
        AND user_id = #{userId}
    </select>

    <select id="getNowPeopleCnt">
        SELECT
            COALESCE(
                a.max_people -
                (SELECT COUNT(*)
                 FROM tbl_user_class b
                 WHERE b.class_no = a.class_no AND b.graduate_code NOT IN ('APPLY', 'H')),
                a.max_people
            ) AS remaining_people
        FROM
            tbl_class a
        WHERE a.class_no = #{classNo}
          AND a.delete_yn = 'N'
        ORDER BY a.class_no;

    </select>

    <insert id="insertClass">

        INSERT INTO tbl_user_class(
           class_no,
           user_id
        )VALUES (
            #{classNo},
            #{userId}
        );

    </insert>

    <select id="chkPossible">

        SELECT SUM(IF(DATEDIFF(IFNULL(end_date, #{startDate}), #{startDate}) >= 0, DATEDIFF(IFNULL(end_date, #{startDate}), #{startDate}), 0))
        FROM tbl_user_class a
        LEFT JOIN tbl_class b ON a.class_no = b.class_no
        WHERE a.user_id = #{userId}
        AND b.delete_yn = 'N'

    </select>

    <select id="getApplyStudents">
        SELECT
            B.user_id,
            C.name,
            C.user_birth,
            B.create_dt,
            B.graduate_code,
            A.max_people,
            (SELECT COUNT(user_id)
             FROM tbl_user_class
             WHERE class_no = #{classNo}
               AND graduate_code NOT IN ('APPLY', 'H')) AS now_people
        FROM
            tbl_class A
                LEFT JOIN
            tbl_user_class B ON A.class_no = B.class_no
                JOIN
            tbl_user C ON B.user_id = C.user_id AND C.delete_yn = 'N'
        WHERE
            A.class_no = #{classNo}
        GROUP BY
            B.user_id, C.name, C.user_birth, B.create_dt, B.graduate_code, A.max_people
        ORDER BY
            CASE WHEN B.graduate_code = 'NO' THEN 2 ELSE 1 END,
            B.create_dt DESC;
    </select>

    <update id="updateStatus">
        UPDATE tbl_user_class
        SET graduate_code = #{graduateCode}
        WHERE user_id = #{userId}
        AND class_no = #{classNo}
    </update>

    <select id="getGraduateCode">
        SELECT
            graduate_code
        FROM tbl_user_class
        WHERE class_no = #{classNo}
          AND user_id = #{userId}
    </select>

</mapper>