<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.green.hckh.repository.dao.teacher.ExamTestDao">
    <insert id="insertTest" parameterType="org.green.hckh.dto.teacher.test.ExamTestDto" useGeneratedKeys="true" keyProperty="testInsertedId">
        INSERT INTO tbl_test
        (schedule_no,
        create_user_id,
        cutline,
        create_dt,
        time,
        test_dt,
        delete_yn)
        VALUES
        (#{T.scheduleNo},
        #{T.createUserId},
        #{T.cutline},
        NOW(),
        #{T.time},
        #{T.testDt},
        #{T.deleteYn})
    </insert>
    <select id="selectAllTest" resultType="org.green.hckh.dto.teacher.test.ExamTestDto">
        SELECT
        test_no,
        schedule_no,
        create_user_id,
        cutline,
        create_dt,
        update_dt,
        time,
        test_dt,
        delete_yn
        FROM tbl_test;
    </select>

    <select id="selectTestBySchedule" resultType="org.green.hckh.dto.teacher.test.TestByScheduleDto">
        SELECT
        A.*,
        B.test_dt,
        B.cutline,
        B.`time`

        FROM (SELECT
        MAX(B.test_no) AS test_no,
        A.schedule_no,
        A.schedule_name,
        A.start_date,
        A.end_date,
        A.class_no
        FROM tbl_test B
        LEFT JOIN tbl_schedule A ON A.schedule_no = B.schedule_no AND B.delete_yn = 'N'
        WHERE A.delete_yn = 'N'
        GROUP BY
        A.schedule_no,
        A.schedule_name,
        A.start_date,
        A.end_date,
        A.class_no) A

        LEFT JOIN tbl_test B ON A.test_no = B.test_no;
    </select>

    <select id="findById" resultType="org.green.hckh.dto.teacher.test.ExamTestDto">
        SELECT
        test_no,
        schedule_no,
        create_user_id,
        cutline,
        create_dt,
        update_dt,
        time,
        test_dt,
        delete_yn
        FROM tbl_test WHERE test_no = #{id};
    </select>
    <update id="updateTest">
        UPDATE tbl_test
        SET
        schedule_no = #{T.scheduleNo},
        create_user_id = #{T.createUserId},
        cutline = #{T.cutline},
        update_dt = #{T.updateDt},
        time = #{T.time},
        test_dt = #{T.testDt},
        delete_yn = #{T.deleteYn}
        WHERE
        test_no = #{T.testNo}
    </update>
    <delete id="deleteTest">
        DELETE FROM tbl_test WHERE test_no=#{id};
    </delete>
</mapper>