<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.green.hckh.repository.dao.teacher.QuestionDao">
    <insert id="insert">
        INSERT INTO tbl_question
        (
        test_no,
        question_no,
        question_title,
        question_code,
        question_score
        )
        VALUES
        <foreach collection="list" item="Q" separator=",">
            (
            #{Q.testNo},
            #{Q.questionNo},
            #{Q.questionTitle},
            #{Q.questionCode},
            #{Q.questionScore}
            )
        </foreach>
    </insert>
    <select id="selectByTestNo" resultType="org.green.hckh.dto.teacher.test.QuestionDto">
        SELECT
        test_no,
        question_no,
        question_title,
        question_code,
        question_score
        FROM tbl_question
        WHERE test_no = #{tno}
    </select>
</mapper>