<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.green.hckh.repository.dao.teacher.QuestionDao">
    <insert id="insert">
        INSERT INTO tbl_question
        (
        test_no,
        question_no,
        question_title,
        question_code,
        question_score
        )
        VALUES
        (
        #{Q.testNo},
        #{Q.questionNo},
        #{Q.questionTitle},
        #{Q.questionCode},
        #{Q.questionScore}
        )
    </insert>
</mapper>