.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-sidebar {
    margin: 0 auto 300px 0;
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: center;
}

.grid-box span {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

#schedule,
.test-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.3s;
}

#schedule:focus,
.test-input:focus {
    border-color: #007bff;
    outline: none;
}

.test-page-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.test-page-btn:hover {
    background-color: #0056b3;
}

.test-page-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.question-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
}

.question-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.question-header span {
    font-size: 16px;
    font-weight: 600;
}

.input-score,
.input-title,
.input-detail {
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

.input-detail{
    width: 100%;
}


.detail-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.detail-box .checkbox {
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.add-question-btn {
    padding: 12px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-question-btn:hover {
    background-color: #0056b3;
}

.success-message {
    font-size: 14px;
    color: green;
    font-weight: 600;
    margin-top: 10px;
}
